In [3]:
#importing all the modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [11]:
red_hook = pd.read_csv('LuxDustNoise_summarized_4hour_0719.csv')

Location:

sensor_0 : RHI roof (at corner of Hicks and W 9th streets, elevation approx. 8m) - 767 Hicks St, Brooklyn, NY 11231

sensor_3 : RHI entrance (on Hicks street at street level) - 767 Hicks St, Brooklyn, NY 11231

sensor_2 : TechLab (at ground level) - 106 Ferris St

sensor_4 : PioneerWorks roof (elevation approx. 15m) - 159 Pioneer St, Brooklyn, NY 11231

Units: for luminosity (in Lux), particulate concentration (particle count per 0.01 cubic feet), and noise (sound pressure level in dB)

In [12]:
red_hook.head()

                    dt    sensor     lux         con        spl
0  2016-06-21 00:00:00  sensor_0     0.0  2834.03125  66.308479
1  2016-06-21 00:00:00  sensor_2     0.0  1691.99625  70.375943
2  2016-06-21 00:00:00  sensor_3     0.0  1686.44125  76.235738
3  2016-06-21 00:00:00  sensor_4     0.0  2324.65875  70.652334
4  2016-06-21 04:00:00  sensor_0  3213.5  2748.28875  81.467436

In [13]:
red_hook.drop('lux', axis=1, inplace = True)

In [14]:
red_hook.dt = pd.to_datetime(red_hook.dt)

In [16]:
red_hook['date'] = pd.to_datetime(red_hook.dt).apply( lambda x: x.date() )
red_hook['time'] = pd.to_datetime(red_hook.dt).apply( lambda x: x.time() )

red_hook.head(10)

                   dt    sensor         con        spl        date      time
0 2016-06-21 00:00:00  sensor_0  2834.03125  66.308479  2016-06-21  00:00:00
1 2016-06-21 00:00:00  sensor_2  1691.99625  70.375943  2016-06-21  00:00:00
2 2016-06-21 00:00:00  sensor_3  1686.44125  76.235738  2016-06-21  00:00:00
3 2016-06-21 00:00:00  sensor_4  2324.65875  70.652334  2016-06-21  00:00:00
4 2016-06-21 04:00:00  sensor_0  2748.28875  81.467436  2016-06-21  04:00:00
5 2016-06-21 04:00:00  sensor_2  2550.94500  72.334450  2016-06-21  04:00:00
6 2016-06-21 04:00:00  sensor_3  2041.33000  79.445869  2016-06-21  04:00:00
7 2016-06-21 04:00:00  sensor_4  3041.73875  81.499422  2016-06-21  04:00:00
8 2016-06-21 08:00:00  sensor_0  2720.35125  80.020600  2016-06-21  08:00:00
9 2016-06-21 08:00:00  sensor_2  3088.82750  76.372047  2016-06-21  08:00:00

In [17]:
#separating the sensors
sensor0 = red_hook[red_hook.sensor=='sensor_0']
sensor2 = red_hook[red_hook.sensor=='sensor_2']
sensor3 = red_hook[red_hook.sensor=='sensor_3']
sensor4 = red_hook[red_hook.sensor=='sensor_4']

In [18]:
# to save the data to use in different notebooks

In [19]:
sensor0.to_csv('sensor0.csv')
sensor2.to_csv('sensor2.csv')
sensor3.to_csv('sensor3.csv')
sensor4.to_csv('sensor4.csv')